fastapi
slowapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic-settings
python-dotenv
pytest
requests
feedparser
trafilatura
langchain
langchain-groq
langchain-google-genai
langchain-openai
pydantic
sentence-transformers
langchain-huggingface
langchain-chroma
chromadb
langgraph
apscheduler
fastembed